@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.input-text {
    @apply shadow-inner text-center bg-zinc-900 text-zinc-500 p-1;
}
.bg-primary {
    @apply bg-orange-600
}
.bg-warning {
    @apply bg-yellow-600
}
a {
    @apply text-zinc-100
}
a:hover {
    @apply text-zinc-300
}
.navLink {
  @apply text-zinc-300
}
.navLink:hover {
  @apply text-zinc-400 cursor-pointer
}
.menu-item {
  @apply block px-4 py-1 hover:bg-zinc-700
}
.koken-shadow {
  @apply shadow-[0_5px_10px_1px_rgba(0,0,0,0.8)]
}
.title { 
  font-family: 'Koulen', cursive;
  }
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #222;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #444;
      border: 3px solid #222;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-150 { font-size: 150px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }